---
import "@authing/native-js-ui-components/lib/index.min.css";

// import { generateSafeId } from "../utils/generateSafeId";

// const safeId = generateSafeId();

const { ...props } = Astro.props;
---

<button {...props}>
  <slot>Sign in</slot>
</button>

<script>
  import { Guard } from "@authing/native-js-ui-components";
  import { AUTHING_APP_ID } from "astro:env/client";

  if (AUTHING_APP_ID) {
    const guardInstance = new Guard({ appId: AUTHING_APP_ID });

    guardInstance.on("login", (userInfo) => {
      console.log(userInfo);
    });
  }
</script>
